<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Test1">
        <parameter name="query" value="SELECT * FROM webform" />
        <classes>
            <!-- Las clases que se informen en esta sección seran ejecutadas en la Suite -->
            <class name="demo" />
        </classes>
    </test> <!-- Test -->
    <test name="Test2">
        <parameter name="query" value="SELECT * FROM webform where name = 'Juan Perez'" />
        <classes>
            <!-- Las clases que se informen en esta sección seran ejecutadas en la Suite -->
            <class name="demo" />
        </classes>
    </test> <!-- Test -->
    <test name="Test3">
        <parameter name="query" value="SELECT * FROM webform where email = null" />
        <classes>
            <!-- Las clases que se informen en esta sección seran ejecutadas en la Suite -->
            <class name="demo" />
        </classes>
    </test> <!-- Test -->
</suite>