<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">


    <test name="Test 1">
        <parameter name="name" value="luis"></parameter>
        <parameter name="email" value="luis@qax.com"></parameter>
        <parameter name="edad" value="29"></parameter>
        <classes>
            <class name="DataDriveTestXMLParameters"></class>

        </classes>
    </test>



    <test name="Test 2">
        <parameter name="name" value="carlos"></parameter>
        <parameter name="email" value="carlos@qax.com"></parameter>
        <parameter name="edad" value="39"></parameter>
        <classes>
            <class name="DataDriveTestXMLParameters"></class>

        </classes>
    </test>
</suite>