<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <parameter name="name" value="luis"></parameter>
    <parameter name="email" value="luis@qax.com"></parameter>
    <parameter name="edad" value="29"></parameter>
    <test name="DataDriveTestParameters">
        
        <classes>
            <class name="DataDriveTestCSVParameters"></class>
            
        </classes>
    </test>
</suite>